/* This file is for your main application css. */
main{
  font-size: large;
}

footer{
  text-align: center;
  margin-top: 2em;
}

#links{
  display: inline-block;
  width: calc(100% - 300px);
}

#sidebar{
  display: inline-block;
  float: right;
  width: 100px;
}
