/* This file is for your main application css. */
main{
  font-size: large;
}

#tags{
  font-size: x-large;
}

footer{
  text-align: center;
  margin-top: 2em;
}

#links{
  display: inline-block;
  width: calc(100% - 300px);
}

#sidebar{
  display: inline-block;
  float: right;
  width: 100px;
}

footer {
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 1rem;
  left: 0;
  text-align: center;
}

